<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos para el servicio en primer plano si es necesario en el futuro -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MensajeAutomatico"
        tools:targetApi="31">

        <!-- Declaración de la actividad principal de la app (Home) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declaración de la actividad para gestionar los ajustes de accesibilidad -->
        <activity
            android:name=".AccessibilityActivity"
            android:exported="false" />

        <!-- Declaración de la actividad de ajustes (SettingsActivity), si la necesitas -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <!-- Actividad de Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Actividad de Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MensajeAutomatico"/>

        <!-- Actividad de Dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <!-- Actividad de Programación de Mensajes -->
        <activity
            android:name=".ScheduleMessageActivity"
            android:exported="false" />

        <!-- Declaración del servicio de accesibilidad -->
        <service
            android:name=".MiServicioDeAccesibilidad"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!-- Broadcast Receiver para reinicios del sistema -->
        <receiver
            android:name=".MessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>